<% admin_layout "full-width" %>
<% admin_breadcrumb(link_to(plural_resource_name(Spree::DigitalAsset.new), [:admin, Spree::DigitalAsset])) %>
<% folder_breadcrumb_path(@current_folder) %>

<% content_for :page_actions do %>
  <%= button Spree.t('folders.new_sub_folder'), nil, 'button', id: 'admin_new_folder', data: { toggle: 'modal', target: '#add-subfolder' } %>
<% end %>

<div id='folder_index' class='row'>
  <%= render 'content' %>
</div>

<div class="upload-assets-section hidden">
  <div class="upload-assets-header">
    <div class="row upload-assets-header-row">
      <div class="col-xs-8 upload-assets-header-title header_title"></div>
      <div class="col-xs-4 text-right upload-assets-header-actions">
        <a href="javascript:" class="upload-assets-header-actions-link minimize-link">
          <i class="fa fa-chevron-down menu-down"></i>
          <i class="fa fa-chevron-up menu-up"></i>
        </a>
        <a href="javascript:" class="upload-assets-header-actions-link close-link"><i class="fa fa-remove"></i></a>
      </div>
    </div>
  </div>
  <div class="upload-assets-content">
  </div>
</div>

<div class="upload_assets_row hidden">
  <div class="upload-assets-content-row working uploading single_request">
    <div class="upload-assets-uploader-block">
      <div class="upload-assets-uploader-bg">
        <a href="javascript:" class="uploader-cancel-button cancel">Cancel</a>
        <div class="upload-assets-uploader-percentage percent">0%</div>
        <div class="upload-assets-uploader-fill bar" style="width: 0%;"></div>
      </div>
      <div class="upload-assets-file-name file_name"></div>
      <div class="upload-assets-uploader-status">Status: <strong class="status">Uploading</strong></div>
    </div>
  </div>
</div>

<%= render partial: 'spree/admin/shared/new_folder_form', locals: { parent: @current_folder } %>
<%= render partial: 'spree/admin/shared/modification_content' %>
