<div class="text-center folder-link-container folder-area add-central-folder">
  <div class="pull-right">
    <%= link_to '', [:admin, folder], { title: 'Delete',
        class: 'text-danger fa fa-trash',
        method: :delete,
        data: { confirm: Spree.t(:confirm_delete) } } %>
    <a href="#" class="fa fa-pencil rename-folder" title='Update'></a>
  </div>
  <br>
  <div class="folder-image">
    <%= folder_icon_link folder, 'folder-open', { class: 'file-icon' } %>
  </div>
  <p>
    <%= folder_link folder, { data: { id: folder.id }, class: 'open-folder-link folder-link' } %>
  </p>
</div>
